.bg-div {
    background-color:#212529;
    height: 80px;
    align-items: center;
    font-size: 1.2rem;
    font-family: Poppins, sans-serif;
    border: 1px solid;
}

.navbar-logo {
    font-size: 32px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.navbar-logo:hover {
    color: rgb(255, 255, 255);
}

.btn {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 20px;
}

.btn:hover {
    color: rgb(255, 255, 255);
}
